

<!---------------footer part---------------->
<section id="footer" class="footer bg-danger">
    <div class="container">
        <div class="row py-4">
            
            <div class="col-md-4 footer-box">
                <a href="/" class="logo">Logo</a>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Libero tempore pariatur doloribus  
                    asperiores  </P>
    
            </div>
    
            <div class="col-md-4 footer-box"> 
                    
                <p><b>CONTACT US</b></p>
                <P><i class="fa fa-map-marker-alt"></i> New Land ,Algeria</P>
                <p><i class="fa fa-phone"></i> +213 75260082356</p>
                <p><i class="fa fa-envelope-o"></i> hicham@gmail.com</p>
            </div>
    
            <div class="col-md-4  footer-box">       
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
               <div class="footer-input">
                <input type="email" class="form-control" placeholder="Your Email">
                <button type="button" class="bot btn-primary">Subscribe</button>
               </div>
            </div>
    </div>
    <hr>
    <p class="copywrite">Website created by Hicham Hll </p>
    </div>
    </section>
    <!--------file js------->

<script src="/js/jquery.min.js"></script> 
<script src="/js/popper.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>
</body>
</html>